.clearfix{
	overflow:auto;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	background-color: #f0efef;
	border: 1px solid black;
}
p{
	margin: 0;
}
h1{
	margin: 0;
}
.container {
	margin: auto;
	width: 960px;
}
header{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #033048;
	min-width:	780px;
	width: 960px;
	margin: auto;
}
header h1{
	color: #fff;
	float: left;
}
.main{
	width: 960px;
	min-width: 780;
	margin: auto;
}
nav{
	float: right;
	padding-right: 50px;
	width: 530;
}
nav ul li{
	display: inline;
	padding-left: 20px;
}
nav ul li a{
	color: #f9e42e;
	text-decoration: none;
	padding-left: 20px;
}
nav ul li a:hover{
	font-weight: 600;
}
.body{
	height: auto;
	background-color:  #f0efef;
	float: left;
	width: 700px;
}
h3{
	font-size:	40px;
	font-weight: 600;
}
hr{
	border:	1px black solid;
	margin-right: 
}
p{
	font-size: 24px;
	font-weight: 200;
}
.sidebar{
	height: auto;
	background-color:  #f0efef;
	float: right;
	width: 240px;
	color: #033048;
}
.sidebar .posts li a{
	text-decoration: none;
	color: #033048;
	font-size: 24px;
}
.sidebar .posts li a:hover{
	font-weight: 600;
}
.sidebar .about_rel a{
	text-decoration: none;
	color: #033048;
}
.sidebar .about_rel a:hover{
	font-style: italic;
}
#signup_now{
	background-color: #f9e42e;
	padding: 30px;
	clear: both;
}
#signup_now a{
	width: 100px;
	margin: auto;
	display: block;
	background-color: #033048;
	padding-left: 35px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 800;
}
footer{
	background-color: #121212;
	height: 250px;
	color: white;
	text-align: center;
	clear: both;
}
footer p{
	font-size: 32px;
	color: #f9e42e;
	font-weight: 800;
	padding-top: 1cm;
}