body{
	border-bottom: double;
	border-width: 8px;
	border-bottom-color: #585858;
	font-family: "Times", Times;
	margin-right: 2cm;
	margin-left: 2cm;
	background-color: #C63D0F
}	
h4{
	border-top: double;
	border-width: 8px;
	border-top-color: #585858;
	text-align: center;
	padding-top: 1cm;
}
h1{
	text-align: center;
	color: #FF9009;
	border-width: 1px;
	font-family: "Georgia", Georgia;
}
h3{
	margin-left: 1cm;
	margin-bottom: 1cm;
	color: black;
}
aside{
	margin-right: 18cm;
	color: #E9E581;
}
img{
	border-style: outset;
	border-width: 18px;
	border-color: #7E8F7C;
	margin-right: 3cm;
	margin-top: 1cm;
	max-width: 100%
	height: auto;
}
footer{
	font-size: 20px;
	font-style: oblique;
	margin-left: 3cm;
	margin-right: 12cm;
	margin-bottom: 1cm;
}
hr{
	border-top: solid;
	border-width: 1px;
	margin-right: 1cm;
	margin-bottom: 0cm;
	margin-top: 4cm
}
main{
	margin-right: 2cm;
	margin-left: 3cm;
	border-top: solid;
	border-color: black;
	border-width: 1px;
}
header{
	margin-bottom: 2cm;
}
a:hover{
	color: blue;
}
li{
	font-style: italic;
	text-indent: 35px;
}